.main-container {
    /* background-color: lightblue; */
    /* border: solid 2px; */
    width: 100%;
    height: 100vh;
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 20% 35% 20%; */
    grid-template-columns: 300px 550px 300px;
    grid-gap: 30px;
    margin-top: 30px;
    /* margin: 30px 5% 0px 5%; */
    grid-template-areas:
        "left-section  middle-section  right-section"
    ;
    justify-content: center;


}

/* .left-section, */
/* .right-section,  */
.middle-section {
    /* background-color: var(--bgColor-nav); */
    border: solid 2px;
    /* border-radius: 1rem; */
    /* width: 100%; */
    /* height: 100vh; */

}

/* \\\\\\\\\\\\\\\\\ left section \\\\\\\\\\\\\\\\\\ */
.left-section {
    grid-area: left-section;
    position: relative;
    color: var(--fontColor1);

}

/* ------------ profile box-------------------- */

.profile-container {
    background-color: var(--bgColor-nav);
    /* border: solid 2px red; */
    border-radius: var(--radius);
    box-shadow: var(--boxShadow);
}

.back-image-box {
    /* border: solid 2px; */
    height: 80px;
}

.back-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.profile-image-box {
    /* border: solid 2px; */
    height: 90px;
    width: 90px;
    border: solid 3px white;
    border-radius: 50%;
    background-color: blueviolet;
    position: absolute;
    top: 45px;
    left: 100px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.detail-box {
    /* border: solid 2px; */
    text-align: center;
    padding: 65px 6px 13px 6px;
    color: var(--fontColor1);
}

.detail-box>.user-name {
    font-size: 1.2rem;
    margin-bottom: 7px;
    color: var(--fontColor2);
    font-weight: 600;
}

.detail-box>.user-name:hover {
    text-decoration: underline var(--fontColor2);
    cursor: pointer;
}

.detail-box>.headings {
    font-size: 0.85rem;
    padding: 0px 10px;
}

.views-box {
    border-style: solid none solid none;
    border-width: 1px;
    border-color: var(--borderColor1);
    padding: 12px 0px 12px 0px;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
}

/* .views-box> */
.connections,
.profile-view {
    padding-left: 15px;
}

.profile-view-number {
    color: var(--logoColor);
    font-weight: 500;
    margin-left: 8rem;
    font-size: 0.9rem;
}

.connections-number {
    color: var(--logoColor);
    font-weight: 500;
    margin-left: 8.8rem;
    font-size: 0.9rem;

}


.views-box .connections-alumni {
    color: var(--fontColor2);
    font-weight: 500;
}

/* hover */
.pro-hov:hover {
    background-color: var(--hoverBgColor-postSection);
    background-size: 100%;
    cursor: pointer;
}


.premium-box {
    border-bottom: solid 1px;
    border-color: var(--borderColor1);
    padding: 12px 15px 12px 15px;
}

.premium-box .box-icon {
    padding-right: 10px;
    color: var(--premium-icon-color);
}

.premium-box .premium-msg {
    font-weight: 500;
    color: var(--fontColor2);
}

/* hover-premium-box */
.premium-box:hover .premium-msg {
    background-color: var(--hoverBgColor-postSection);
    color: var(--logoColor);
}

.premium-box:hover {
    background-color: var(--hoverBgColor-postSection);
    /* color: var(--logoColor); */
    cursor: pointer;
}

.save-items {
    padding: 12px 15px 12px 15px;
    color: var(--fontColor2);
}

.save-items:hover {
    background-color: var(--hoverBgColor-postSection);
    cursor: pointer;
}


/* ------------ recent box-------------------- */
.recent-container {
    background-color: var(--bgColor-nav);
    border-radius: var(--radius);
    box-shadow: var(--boxShadow);
    margin-top: 12px;
    margin-bottom: 200px;

}

.recent-container>.recent>.title-recent {
    padding: 15px 5px 10px 15px;
    color: var(--fontColor2);
}

.recent-container>.recent>.title-group {
    padding: 15px 5px 10px 15px;
    color: var(--logoColor);
    font-weight: 500;
}

.recent-container>.recent>div {
    padding: 5px 5px 5px 15px;
    font-weight: 500;
    font-size: 0.89rem;
}

.recent-container>.recent>div .action {
    padding-left: 6px;
}

.recent-container>.recent>div>.gift-icon {
    color: var(--fontColor2);
}

.recent-container>.recent>div>.show-more {
    padding-left: 25px;
}

.recent-container>.recent>div>.show-icon {
    padding-left: 5px;
    color: var(--fontColor2);
    font-weight: bolder;
}

/* hover */
.recent-container>.recent>div:hover {
    color: var(--fontColor2);
    background-color: var(--hoverBgColor-postSection);
    cursor: pointer;
    font-weight: 500;
}

/* <!-- Recent Events --> */
.recent-container>.events {
    padding-top: 12px;
    /* border: solid 1px; */
}

.recent-container>.events>.title-events {
    padding: 15px 5px 10px 15px;
    color: var(--logoColor);
    font-weight: 500;
}

.recent-container>.events>.title-events:hover {
    text-decoration: underline;
    cursor: pointer;
}

.recent-container>.events>.plus-icon {
    font-size: 2rem;
    /* margin-right: 0rem; */
    /* padding-right: 1rem; */
    position: relative;
    left: 11rem;
    top: 6px;
    color: var(--fontColor3);
    font-weight: 500;
}

.recent-container>.events>.plus-icon:hover {
    cursor: pointer;
    background-color: var(--hoverBgColor-postSection);
    border-radius: 50%;
}

/* <!-- Followed Hastag --> */
.recent-container>.hastags {
    padding: 15px 5px 10px 15px;
    color: var(--logoColor);
    font-weight: 500;
}

.recent-container>.hastags:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* <!-- Discover --> */
.recent-container>.discover {
    /* text-align: center; */
    /* font-weight: 500; */
    border-top: solid 1px var(--borderColor1);
    /* padding: 15px; */
}

.recent-container>.discover>.title-discover {
    font-weight: 500;
    padding: 15px;
    text-align: center;

}

.recent-container>.discover :hover {
    cursor: pointer;
    color: var(--fontColor2);
    background-color: var(--hoverBgColor-postSection);
}







/* \\\\\\\\\\\\\\\\\ middel section \\\\\\\\\\\\\\\\\\ */
.middle-section {
    grid-area: middle-section;

}

/* \\\\\\\\\\\\\\\\\ right section \\\\\\\\\\\\\\\\\\ */
.right-section {
    grid-area: right-section;

}

/* <!-- LinkedIn News --> */
.news {
    background-color: var(--bgColor-nav);
    border-radius: var(--radius);
    box-shadow: var(--boxShadow);
}

.news>.title-news-box {
    padding: 15px 0px 15px 20px;
}

.news>.title-news-box .i-button {
    float: right;
    margin-right: 1rem;
    color: var(--fontColor2);
}

.news>.title-news-box .title-linked-news {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--fontColor2);
}

/* <!-- top stories --> */
.news>.stories>.title-stories {
    padding: 0px 0px 5px 20px;
    color: var(--fontColor1);
    font-weight: 500;
    font-size: 1.2rem;
}

.news>.stories>div {
    padding: 5px 0px 5px 20px;
}

.news>.stories>div .breaking-news {
    color: var(--fontColor2);
    font-weight: 500;
}

.news>.stories>div .audience {
    color: var(--fontColor1);
    font-size: var(--fontSize3);
}

.news>.stories>div:hover {
    background-color: var(--hoverBgColor-postSection);
    cursor: pointer;
}

.news>.stories>.show-box-right {
    padding: 5px 0px 15px 10px;
    font-weight: 500;
}

.news>.stories>.show-box-right>.show-more-right {
    padding: 1px 10px;
    color: var(--fontColor1-1);
}

.news>.stories>.show-box-right .show-more-right:hover {
    background-color: var(--hoverBgColor-postSection);
    color: var(--fontColor2);
    border-radius: 6px;
    cursor: pointer;
}

/* <!-- Today's Puzzles --> */
.news>.puzzles {
    padding-bottom: 20px;
}

.news>.puzzles>.title-puzzles {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--fontColor1);
    padding: 0px 0px 5px 20px;
}

.news>.puzzles>div {
    padding: 10px 0px 10px 20px;
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-areas:
        "left right"
        "left right-bottom"
    ;
}

.news>.puzzles>div:hover {
    background-color: var(--hoverBgColor-postSection);
    cursor: pointer;
}

.puzz-img {
    width: 50px;
    height: 50px;
    border: solid 0.1px;
    border-radius: 5px;
    grid-area: left;
}

.puzz {
    grid-area: right;
    font-weight: 500;
    color: var(--fontColor4);
}

.text-puzz {
    grid-area: right-bottom;
    color: var(--fontColor1);
    font-size: var(--fontSize3);
}

/* <!-- Premium Ad --> */
.right-section>.premium-ad {
    background-color: var(--bgColor-nav);
    margin: 15px 0px;
    box-shadow: var(--boxShadow);
    border-radius: var(--radius);
    padding-bottom: 20px;
}

.premium-ad>.ad {
    /* float: right; */
    margin: 8px 12px 0px 80%;
    color: var(--fontColor3);

}

.premium-ad .three-dot-ad {
    /* margin-left: 8px; */
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--fontColor2);
}

.premium-ad .a-1 {
    margin: 10px 20px 10px 20px;
    display: block;
    text-align: center;
    text-wrap: wrap;
    text-decoration: none;
    font-size: 0.85rem;
    color: var(--fontColor1);
}

.premium-ad .dp-logo {
    margin: 10px 20px 0px 50px;

}

.premium-ad .dp-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 10px;

}

.premium-ad .logo-gold {
    font-size: 5rem;
    position: relative;
    bottom: 15px;
    left: 20px;
    color: var(--premium-icon-color);
}

.premium-ad .a-2 {
    margin: 0px 20px 20px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-wrap: wrap;
    font-size: 1.1rem;
    color: var(--fontColor1-1);
}

.premium-ad .button-try {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--logoColor);
    border: solid 2px var(--logoColor);
    padding: 5px;
    margin: 10px 80px;
    border-radius: 2.5rem;
    font-weight: 500;
}

/* <!-- footer --> */

.footer-left-section {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left-section .about {
    margin: 0px 10px;
    line-height: 30px;
    text-decoration: none;
    font-size: 0.88rem;
    color: var(--fontColor1);
}

.footer-left-section .about:hover {
    color: var(--logoColor);
    text-decoration: underline;
}

.footer-left-section .copywrite .logo-footer {
    margin-right: 5px;
    margin-left: 25px;
    color: var(--logoColor);
    font-size: 1.1rem;
    font-weight: 500;
}

.logo-footer:hover {
    cursor: default;
}

.footer-left-section>.copywrite>p {
    display: inline;
    color: var(--fontColor3);
    padding-bottom: 50px;
    font-size: 0.8rem;

}