.navbar ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    background-color: #f7f3f3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.first-section {
    border: solid 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.second-section {
    border: solid 2px;
}

.third-section {
    border: solid 2px;
}